<!-- src/app/ar-scene/ar-scene.component.html -->
<div class="h-full w-full relative">
  <a-scene 
    vr-mode-ui="enabled: false"
    renderer="logarithmicDepthBuffer: true; precision: medium;"
    embedded 
    arjs="sourceType: webcam; debugUIEnabled: false; detectionMode: mono; matrixCodeType: 3x3;"
    gesture-detector
    id="ar-scene"
  >
    <a-marker preset="hiro">
      <a-box position="0 0.5 0" material="color: red"></a-box>
    </a-marker>
    <a-entity camera></a-entity>
  </a-scene>
</div>